extends ../layouts/main.pug
block title
  title About
  
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 About Page
          p.
            Hi, my name is Nick and I’m a web developer based in the city of s-Hertogenbosch, the Netherlands. I’ve been working in this field for over 2 years and I’m proficient in front end development. I work with the latest tools and methodologies by always keeping up to date with current trends.

            I love the world of web development. It has so many challenges and opportunities and keeps the mind fully engaged. ALWAYS FORWARD is my motto. When I’m not building products I’m out spending time with my wife and daughter or visiting with friends at the cafe.

            If you would like to discuss a project or just have a friendly chat email me at skynet60@outlook.com.

            Follow me for the latest updates 

            github.com/nwease
            linkedin.com/in/nicholaswease
            
            

        div(class="col-md-4")
          img(src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/542289_402106319836119_1844832892_n.jpg?oh=bf1b61343ecf93f86ff6f5f3669eb8e3&oe=5A6140FF" style="width: 250px;")
