extends ../layouts/main.pug
block title
  title Blog
  
block content
  div(class="container blog-page index-page")
    div(class="row")
      div(class="col-md-8")
        div(class="content-box")
          div(class="row")
            div(class="col-md-8")
              h1 Edit a Post
              form(method="POST", action="/blog/" + post.slug + "?_method=PUT")
                input(type="hidden", name="_id", value=post._id)
                div
                  label(for="title") Title
                  input(type="text", name="title", value=post.title)
                div
                  label(for="category") Category
                  input(type="text", name="category", value=post.category)
                div
                  label(for="description") Description
                  textarea(name="description") #{post.description}
                div
                  button(type="submit") Save Post
                    
            div(class="col-md-4")
              img(src="https://www.atomix.com.au/media/2015/06/atomix_user31.png")
