extends ../layouts/main.pug
block title
  title Blog
  
block content
  div(class="container blog-page index-page")
    div(class="row")
      div(class="col-md-8")
        div(class="content-box")
          div(class="row")
            div(class="col-md-12")
              h1 Top 10 JavaScript Libraies
              
        div(class="content-box")
          div(class="row")
            div(class="col-md-12")
              h1 My life as a developer
              
        div(class="content-box")
          div(class="row")
            div(class="col-md-12")
              h1 Learning JavaScript
              
      div(class="col-md-4")
        div(class="content-box")
          img(src="https://lh5.ggpht.com/CztHBMfmRKhSv-_up3GCkK5R5M0TCm1czCVkVBwB0urvaHUVCEh6YtpS7DY3mcZuwC2SzX9A3w=w338")
        div(class="content-box")
          img(src="https://lh6.ggpht.com/C-6e26E1LydXhyDCkOe1EXmb3BQ2T1IkA2AhJ-9MO-FDuWc0nyGfJI19iPP3HX9cljXFJ1Bz=w250")
