extends ../layouts/main.pug
block title
  title Blog
  
block content
  div(class="container blog-page show-page")
    div(class="row")
      div(class="col-md-8")
        div(class="content-box")
          div(class="row")
            h1= post.title
            div(class="col-md-12")
              img(src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg")
            div(class="col-md-12")
              h2= post.category
              p= post.description
              
      div(class="col-md-4")
        div(class="content-box")
          include ../includes/side-ad.pug
        
