extends ../layouts/main.pug
block title
  title Projects
  
block content
  div(class="container projects-page show-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-12")
          h1 Show Project
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/757683/screenshots/3824804/bnp5.jpg")
            
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/757683/screenshots/3824804/bnp5.jpg")
            
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/757683/screenshots/3824804/bnp5.jpg")
            
        div(class="col-md-12")
          img(src="https://cdn.dribbble.com/users/757683/screenshots/3824804/bnp5.jpg")
